{
    "plugins": [
        ["lodash"],
        ["import",
			[
			  	{
			    	"libraryName": "antd",
			    	"libraryDirectory": "lib",
			    	"style": false
			  	}
			]
		],
        "transform-runtime"
	],
    "env": {
        "development": {
            "sourceMaps" : "inline",
            "presets": [
                ["env", {
                    "targets": {
                        "browsers": ["last 2 versions", "ie >= 9"]
                    }
                }],
                "react",
            ],
        },
        "commonjs": {
            "presets": [
                ["env", {
                    "targets": {
                        "browsers": ["last 2 versions", "ie >= 9"]
                    }
                }],
                "react",
            ],
        },
        "es": {
            "presets": [
                ["env", {
                    "targets": {
                        "browsers": ["last 2 versions", "ie >= 9"]
                    },
                    "modules": false
                }],
                "react",
            ],
        },
    }
}
